* { 
  margin:0; 
  padding:0; 
  box-sizing:border-box; 
  font-family: "Poppins", sans-serif; 
}
body { 
  background:hsl(0, 0%, 100%);
  color:#222; 
  line-height:1.4; 
}
h4 { 
  color: #004aad;
  margin-bottom:5px; 
}
h5{
  color: #ff6600;
  margin-bottom:5px;
}
header {
  display:flex; 
  justify-content:space-between; 
  align-items:center;
  padding:18px 20px; 
  background:#004aad; 
  color:#fff;
}
.logo { font-size:1.5rem; 
  font-weight:700; 
}
nav ul { display:flex; 
  list-style:none; 
  gap:22px; 
}
nav ul li a { 
  color:#fff; 
  text-decoration:none; 
  font-weight:500; 
  transition:0.2s ;
}
nav ul li a:hover { 
  color:#ffd700; 
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background: url(imag/copy.png) no-repeat center/cover;
  background-color: #0e2044;
  min-height: 50vh;
  flex-wrap: wrap; 
}
.hero-left {
  flex: 1;
  min-width: 300px;
}
.hero-left h1 {
  font-size: 2.6rem;
  color: white
}
.hero-left span {
  color: #ff6a00;
}
.hero-left p {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #333333;
}
.hero-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  min-width: 300px;
  color: #0a192c;
}
.booking-box {
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 320px;
}
.booking-box h3 {
  margin-bottom: 15px;
  color: #0a192c;
}
.booking-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.booking-box button {
  width: 100%;
  padding: 10px;
  background: #ff6a00;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.booking-box button:hover {
  background: #e65c00;
}
.input-group {
  position: relative;
  width: 100%;
}

.vehicle-modal { 
  position:fixed; 
  inset:0; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  background:rgba(0,0,0,0.55);
  z-index: 999; 
}
.vehicle-box { 
  background:#fff; 
  padding:26px; 
  border-radius:12px;
  width:420px; 
  position:relative; 
  text-align: left;
}
.close-btn { 
  position:absolute; 
  right:12px; 
  top:8px; 
  background:transparent; 
  border:none; 
  font-size:22px; 
  cursor:pointer; 
  color:#004aad; 
  font-weight:700;
}
.vehicle-types button, .v-items button{ 
  padding: 8px 15px;
  margin: 5px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 6px;
  display:flex; 
  flex-direction:column; 
  gap:10px; 
  margin-top:14px; 
}
.v-item { 
  background:#f1f3ff; 
  color:#333c93; 
}
.vehicle-types button:hover { 
  background:#658bcb; 
}
.v-item:hover { 
  background:#d0d8ff; 
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: rgb(241, 237, 228);
  padding: 50px;
}
.service-card{
  width: 200px;
  height: 250px;
  perspective: 1000px;
}
.service-card:hover .service-card-inner{
transform: rotateY(180deg);
}
.service-card-inner{
  width: 100%;
  height: 100%;
  transition:  0.8s;
  transform-style: preserve-3d;
}
.service-card-front, .service-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: solid 2px #092034;
  background-color: #aab3bb;
}
.service-card-front{
 font-size: 20px;
 color:rgb(11, 12, 24);
}
.service-card-front i {
  font-size: 100px;
  margin-bottom: 10px;
  color: rgb(109, 138, 141);
}
.service-card-back{
  background: #333;
  color: #fff;
  transform: rotateY(180deg);
  padding: 20px;
  text-align: center;
} 
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.menu-toggle div {
  width: 28px;
  height: 3px;
  background: white;
}
.cite-section{
  text-align:center;
  padding:60px 40px; 
  background:#141f29; 
  color:white; 
}
.about-section { 
  text-align:center; 
  padding:60px 40px; 
}
.city-grid { 
  display:flex; 
  justify-content:center; 
  gap:40px; 
  flex-wrap:wrap; 
}
.citys{
  display:flex; 
  justify-content:center; 
  gap:40px; 
  flex-wrap:wrap; 
  display: inline;
}
.how-section {
  text-align: center;
  padding: 40px 20px;
  background-color: rgb(241, 237, 228);
}
.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}
.step {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 20px;
  width: 28%;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  z-index: 2;
}
.steps i{
  font-size: 30px;
  color: rgb(215, 179, 112);
  margin-bottom: 10px;
  font-size: 70px;
}
.line {
  flex: 1;
  height: 2px;
  border-top: 2px dotted #999;
  position: relative;
  top: -30px;
  z-index: 1;
}
.footer { 
  background:#092034; 
  color:#fff; 
  display:grid; 
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr)); 
  gap:28px; padding:30px 40px; 
}

.footer h3 {
  color:#ff7b00; 
  margin-bottom:12px;
}
.footer ul { 
  list-style:none; 
  padding:0;
}
.footer ul li { 
  margin:8px 0; 
  font-size:14px; 
}
.footer-bottom { 
  background:#092034; 
  color:#fff; 
  text-align:center; 
  padding:14px 10px; 
  font-size: 30px;
}
.hidden { 
  display:none !important; 
}
.muted { 
  color:#444; 
}
.cta { 
  background:#ff7b00; 
  border:none; 
  color:#fff; 
  padding:8px 12px; 
  border-radius:8px; 
  cursor:pointer; 
  font-weight:600; 
}
@media (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 70px;
    right: 0;
    background-color:#a5aab1; 
    border-radius:8px; 
    width: 200px;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    display:none; 
    margin-right: 20px;
  }
  nav ul.active {
    display: flex;  
  }
  .menu-toggle {
    display: flex; 
  }
  .hero { 
    padding:36px 20px; 
    gap:20px; 
  }
  .booking-box {
    width:100%; 
    max-width:420px; 
  }
  .steps {
    flex-direction: column;
    align-items: center;
  }
  .step {
    width: 90%;
  }
  .line {
    display: none; 
  }
}
@keyframes show {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

